@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('clearsans-thin.eot');
    src: url('clearsans-thin.eot?#iefix') format('embedded-opentype'),
         url('clearsans-thin.woff') format('woff'),
         url('clearsans-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#awesome_video { 
	z-index: -1; 
	position: absolute;
	top: 0; 
	left: 0;  
}

#forYou { 
	position: absolute;
	top: 290px;
	font-size: 20px;
	font-family: 'clear_sans_thinregular';
	color: #fff;
	height: 200px;
	width: 400px;
	left: 440px;
	text-align: center;
}

#forYou b {
	font-size: 30px;
}
  
.logo {
  width: 420px;
  height: 420px;
  position: relative;
  margin: auto;
  top: 180px;
}

.part {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin-top: 40px;
  line-height: 0;
  font-size: 0;
}
.part.part-0 {
  left: 70px;
}
.part.part-1 {
  left: 210px;
}
.part.part-2 {
  top: 40px;
  left: 0px;
}
.part.part-3 {
  top: 40px;
  left: 140px;
}
.part.part-4 {
  top: 40px;
  left: 280px;
}
.part.part-5 {
  top: 80px;
  left: -70px;
}
.part.part-6 {
  top: 80px;
  left: 70px;
}
.part.part-7 {
  top: 80px;
  left: 210px;
}
.part.part-8 {
  top: 80px;
  left: 350px;
}
.part.part-9 {
  top: 120px;
  left: 0px;
}
.part.part-10 {
  top: 120px;
  left: 140px;
}
.part.part-11 {
  top: 120px;
  left: 280px;
}
.part.part-12 {
  top: 160px;
  left: -70px;
}
.part.part-13 {
  top: 160px;
  left: 70px;
}
.part.part-14 {
  top: 160px;
  left: 210px;
}
.part.part-15 {
  top: 160px;
  left: 350px;
}
.part.part-16 {
  top: 200px;
  left: 0px;
}
.part.part-17 {
  top: 200px;
  left: 140px;
}
.part.part-18 {
  top: 200px;
  left: 280px;
}
.part.part-19 {
  top: 240px;
  left: 70px;
}
.part.part-20 {
  top: 240px;
  left: 210px;
}
.part.part-21 {
  top: 280px;
  left: 140px;
}
.part:before {
  content: '';
  border-style: solid;
  border-width: 40px 70px 40px 0;
  border-color: transparent #eecdcc;
}
.part:after {
  content: '';
  border-style: solid;
  border-width: 40px 0 40px 70px;
  border-color: transparent #eecdcc;
}
.part.part-5:before, .part.part-2:before, .part.part-0:before {
  border-color: transparent #eecdcc;
}
.part.part-5:after, .part.part-2:after, .part.part-0:after {
  border-color: transparent #e6b2b4;
}
.part.part-8:before, .part.part-4:before, .part.part-1:before {
  border-color: transparent #e6b2b4;
}
.part.part-8:after, .part.part-4:after, .part.part-1:after {
  border-color: transparent #eecdcc;
}
.part.part-3:before {
  border-color: transparent #ec8d8c;
}
.part.part-3:after {
  border-color: transparent #ec8d8c;
}
.part.part-12:before, .part.part-9:before, .part.part-6:before {
  border-color: transparent #ec8d8c;
}
.part.part-12:after, .part.part-9:after, .part.part-6:after {
  border-color: transparent #e97979;
}
.part.part-15:before, .part.part-11:before, .part.part-7:before {
  border-color: transparent #e97979;
}
.part.part-15:after, .part.part-11:after, .part.part-7:after {
  border-color: transparent #ec8d8c;
}
.part.part-10:before {
  border-color: transparent #f15858;
}
.part.part-10:after {
  border-color: transparent #f15858;
}
.part.part-16:before, .part.part-13:before {
  border-color: transparent #f15858;
}
.part.part-16:after, .part.part-13:after {
  border-color: transparent #e35454;
}
.part.part-18:before, .part.part-14:before {
  border-color: transparent #e35454;
}
.part.part-18:after, .part.part-14:after {
  border-color: transparent #f15858;
}
.part.part-17:before {
  border-color: transparent #d34a50;
}
.part.part-17:after {
  border-color: transparent #d34a50;
}
.part.part-20:before, .part.part-19:before {
  border-color: transparent #c23e48;
}
.part.part-20:after, .part.part-19:after {
  border-color: transparent #c23e48;
}
.part.part-21:before {
  border-color: transparent #ae3847;
}
.part.part-21:after {
  border-color: transparent #ae3847;
}
.part.part-12:before, .part.part-5:before {
  opacity: 0;
}
.part.part-15:after, .part.part-8:after {
  opacity: 0;
}
